@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'Space mono', sans-serif;
    color: #333333;
}

.container {
    padding: 24px;
}

#header {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0 64px 24px;
    font-size: 24px;
}

#img {
    width: 90%;
    height: auto;
    margin: 0 auto 60px auto;
    display: block;
}

#title {
    font-size: 64px;
}

#info {
    font-size: 24px;
    color: #4F4F4F;
}

#btn {
    text-transform: uppercase;
    width: 216px;
    height: 68px;
    color: whitesmoke;
    background-color: #333333;
    margin: 4rem 0 8rem 0;
    font-size: 14px;
}

#footer {
    font-family: 'Montserat', sans-serif;
    color: #BDBDBD;
    text-align: center;
    margin-bottom: 24px
}

@media (min-width: 992px) {
    body {
        height: 100vh;
        padding: 20px;
    }
    .container {
        display: flex;
        margin: 100px auto 0 auto;
        padding-right: 120px;
    }
    #header {
        margin: 0;
    }
    #main-content {
        max-width: 590px;
    }
    #img {
        width: 40%;
        margin-right: 50px;
    }
    #info {
        margin-top: 30px;
        max-width: 380px;
    }
    #btn {
        margin: 65px 0 0 0;
    }
    #footer {
        margin-bottom: 0;
    }
}